<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vue Grid Layout v2 sample project</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>Vue Grid Layout</h1>
    <div id="app" style="width: 100%;">
        <!--<pre>{{ $data | json }}</pre>-->
        <!--<pre>{{ layouts | json }}</pre>-->
        <div>
            <div class="layoutJSON">
                Displayed as <code>[x, y, w, h]</code>:
                <div class="columns">
                    <div class="layoutItem" v-for="item in layout">
                        <b>{{item.i}}</b>: [{{item.x}}, {{item.y}}, {{item.w}}, {{item.h}}]
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <button @click="decreaseWidth">Decrease Width</button>
            <button @click="increaseWidth">Increase Width</button>
            <button @click="addItem">Add an item</button>
            <input type="checkbox" v-model="compact"/> Compact
            <br/>
            <grid-layout :layout="layout"
                         :col-num="12"
                         :row-height="30"
                         :margin="[0,6]"
                         :is-draggable="draggable"
                         :is-resizable="resizable"
                         :vertical-compact="compact"
                         :use-css-transforms="true"
            >
                <grid-item v-for="item in layout" :key="item.i"
                           :x="item.x"
                           :y="item.y"
                           :w="item.w"
                           :h="item.h"
                           :i="item.i"
                >
                    <span class="text">{{item.i}}</span>
                    <span class="remove" @click="removeItem(item.i)">x</span>
                </grid-item>
            </grid-layout>
        </div>

    </div>
    <script src="dist/build.js"></script>
</body>
</html>
